<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hands-on 2</title>
</head>
<body>

{{range .}}
    <h2>{{.Region}} Region</h2>
    {{range .Hotels}}
        {{.Name}}<br>
        {{.Address}} {{.City}} {{.Zip}}<br>
    {{end}}
{{end}}

</body>
</html>