<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="LiborFred2Update.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <LiborFred2Update.Properties.Settings>
            <setting name="RepositoryFile" serializeAs="String">
                <value>repository\finance\bba.h5</value>
            </setting>
            <setting name="RepositoryRoot" serializeAs="String">
                <value>/bba/</value>
            </setting>
            <setting name="UserAgent" serializeAs="String">
                <value>Mozilla/5.0 (Windows; U; Windows NT 6.1; en-US; rv:1.9.1.5) Gecko/20091106 Shiretoko/3.5.5</value>
            </setting>
            <setting name="DownloadTimeout" serializeAs="String">
                <value>180000</value>
            </setting>
            <setting name="Hdf5CorkTheCache" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Hdf5MaxReadBufferBytes" serializeAs="String">
                <value>1048576</value>
            </setting>
        </LiborFred2Update.Properties.Settings>
    </applicationSettings>
  <system.diagnostics>
    <trace autoflush="true" indentsize="0">
      <listeners>
        <!-- traceOutputOptions="ProcessId, ThreadId, DateTime, Timestamp, LogicalOperationStack, Callstack" -->
        <add name="txtListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="LiborUpdate.log">
          <filter type="System.Diagnostics.EventTypeFilter" initializeData="Verbose"/>
          <!-- Error, Warning, Information, Verbose -->
        </add>
      </listeners>
    </trace>
  </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
